{
  "type": "service_account",
  "project_id": "doojon-test",
  "private_key_id": "Hell Bus",
  "private_key": "Russian Lesson",
  "client_email": "Even Superheroes Have Bad Days",
  "client_id": "Wonderful Worlds",
  "auth_uri": "Neighbor",
  "token_uri": "Prestigious Job",
  "auth_provider_x509_cert_url": "Real Animals",
  "client_x509_cert_url": "Sick Man"
}
