@use '~@angular/material' as mat;
@use './app/feed/feed-theme' as feed;
@use './app/navbar/navbar-theme' as navbar;

@include mat.core();

$dark-primary: mat.define-palette(mat.$purple-palette);
$dark-accent: mat.define-palette(mat.$green-palette);

$typography: mat.define-typography-config();

$dark-theme: mat.define-dark-theme((
    color: (
        primary: $dark-primary,
        accent: $dark-accent,
    ),
    typography: $typography,
));

@include mat.all-component-themes($dark-theme);
@include feed.theme($dark-theme);
@include navbar.theme($dark-theme);
