:host {
    height: 100%;
}

.container {
    display: grid;
    grid-template-columns: auto 350px auto;
    grid-template-rows: 100px auto auto;
    grid-template-areas:
        ". .      ."
        ". login  ."
        ". .      .";
}

.login {
    grid-area: login;
    display: flex;
    flex-flow: column nowrap;

    form {
        display: flex;
        padding: 1.34375em;
        flex-flow: column nowrap;
    }

    .button-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    mat-card-footer {
        display: flex;
        padding: 0 1.34375em 1.34375em 0;
        flex-flow: row nowrap;
        justify-content: center;

        a {
            font-weight: bold;
        }
    }
}
