:host {
    flex: 1 1;
    display: flex;
    flex-flow: column nowrap;

    .navbar-placeholder {
        height: 64px;
    }

    app-navbar {
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        visibility: visible;
        z-index: 3;
    }

    mat-sidenav-container {
        flex: 1 1;
    }

}
