@use '../style-vars.scss' as vars;

:host {
    display: block;
    width: vars.$challenge-container-width;
    height: 100%;
}

mat-card {
    height: 100%;
    width: 100%;

    textarea {
        width: 100%;
        border: none;
        outline: none;
        font-family: inherit;
    }
}

mat-card-header {
    padding-bottom: 20px;
}

.options {
    padding: 10px;
}

.buttons {
    padding-top: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.title {
    font-size: vars.$challenge-title-size
}

.description {
    font-size: vars.$challenge-description-size
}
