@use 'sass:map';
@use '~@angular/material' as mat;

@mixin color($conf) {
    $primary: map.get($conf, primary);

    app-post-created {
      a {
        color: mat.get-color-from-palette($primary, 300);
      }
    }
}

@mixin typography($conf) {
}

@mixin theme($theme) {
    $color-conf: mat.get-color-config($theme);
    @if $color-conf != null {
        @include color($color-conf)
    }

    $typ-conf: mat.get-typography-config($theme);
    @if $typ-conf != null {
        @include typography($typ-conf)
    }
}
