:host {
  display: block;
  padding: 10px;
}

.post-container {
  display: flex;
  flex-flow: column nowrap;

  .post-meta {
    font-weight: 300;
  }

  .post-meta-username {
    font-weight: 600;
  }

  .post-body {
    padding: 15px 25px;
  }

  .post-actions{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
  }
}
