
<div class="show-container">
<div class="challenge-container">
    <mat-card>
        <mat-card-header>
            <mat-card-title class="challenge-title">{{ info?.challenge?.title }}</mat-card-title>
            <span spacer></span>
            <a routerLink="/{{ info?.proposed_by?.username }}">{{ info?.proposed_by?.username }}</a>
        </mat-card-header>
        <mat-card-content class="challenge-description">{{ info?.challenge?.description }}</mat-card-content>
    </mat-card>
</div>
</div>