<mat-card>
  <mat-card-header>
    <mat-card-title i18n="createProfileTitle|Title of the form on signup page"
      >Create your Doojon profile</mat-card-title
    >
  </mat-card-header>
  <mat-card-content>
    <mat-stepper orientation="vertical" linear>
      <mat-step [formGroup]="securityForm" [stepControl]="securityForm">
        <ng-template
          matStepLabel
          i18n="signup step security|Name of the security step in sign up form"
          >Security</ng-template
        >
        <div>
          <mat-form-field color="accent" appearance="outline">
            <mat-label i18n="email form|Email form field">Email</mat-label>
            <input matInput formControlName="email" />
            <mat-error *ngIf="getEmailError() === 'required'" i18n
              >Please, enter your email</mat-error
            >
            <mat-error *ngIf="getEmailError() === 'email'" i18n
              >Please, enter a valid email</mat-error
            >
          </mat-form-field>
        </div>
        <div>
          <mat-form-field color="accent" appearance="outline">
            <mat-label i18n="password form|Password form field"
              >Password</mat-label
            >
            <input
              matInput
              formControlName="password"
              [type]="showPassword ? 'text' : 'password'"
            />
            <button
              mat-icon-button
              matSuffix
              (click)="togglePasswordVisibility()"
            >
              <mat-icon>{{
                showPassword ? 'visibility' : 'visibility_off'
              }}</mat-icon>
            </button>
            <mat-error *ngIf="getPasswordError() === 'required'" i18n
              >Please, enter secure password</mat-error
            >
            <mat-error *ngIf="getPasswordError() === 'minlength'" i18n
              >Please, enter password longer than 8 characters</mat-error
            >
            <mat-error *ngIf="getPasswordError() === 'maxlength'" i18n
              >Please, enter password shorter than 32 characters</mat-error
            >
          </mat-form-field>
        </div>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </mat-step>
      <mat-step [stepControl]="usernameForm">
        <ng-template
          matStepLabel
          i18n="signup step profile|Name of the profile step in sign up form"
          >Profile</ng-template
        >
        <div>
          <mat-form-field color="accent" appearance="outline">
            <mat-label i18n="username form|Username form field in sign up form"
              >Username</mat-label
            >
            <input matInput [formControl]="usernameForm" />
            <mat-error *ngIf="getUsernameError() === 'required'" i18n
              >Please, enter your future username</mat-error
            >
            <mat-error *ngIf="getUsernameError() === 'minlength'" i18n
              >Please, enter username longer than 2 characters</mat-error
            >
            <mat-error *ngIf="getUsernameError() === 'maxlength'" i18n
              >Please, enter username shorter than 16 characters</mat-error
            >
            <mat-error *ngIf="getUsernameError() === 'forbidden'" i18n
              >Sorry, but this username is forbidden</mat-error
            >
          </mat-form-field>
        </div>
        <div>
          <button mat-button [disabled]="isFinishLocked()" (click)="doSignUp()">Finish</button>
        </div>
      </mat-step>
    </mat-stepper>
  </mat-card-content>
</mat-card>
