@use '../../style-vars.scss' as vars;

:host {
    flex: 1 1;
    display: flex;
    flex-flow: column nowrap;

}

.navbar-placeholder {
    height: 64px;
}

app-navbar {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    visibility: visible;
    z-index: 3;
}

.page-container {
    flex: 1 1;
    display: flex;
    flex-flow: row nowrap;
}

.sidenav-placeholder {
    width: vars.$sidenav-width;
}

.sidenav-placeholder-short {
    width: vars.$sidenav-short-width;
}

.sidenav, .sidenav-short {
    height: 100%;
    position: fixed;
    top: 64px;
    left: 0;

    display: flex;
    flex-flow: row nowrap;

    app-sidenav {
        flex: 1 1;
    }
}

.sidenav-short {
    width: vars.$sidenav-short-width;
}

.sidenav {
    width: vars.$sidenav-width;
}

.route-content {
    flex: 1 1;
}

