<div class="navbar-placeholder"></div>
<app-navbar (toggleStaticSidenav)="toggleStaticSidenav()"></app-navbar>
<div class="page-container">
    <ng-template [ngIf]="!this.shortSidenav">
        <div class="sidenav-placeholder"></div>
        <div class="sidenav">
            <app-sidenav></app-sidenav>
            <mat-divider vertical></mat-divider>
        </div>
    </ng-template>
    <ng-template [ngIf]="this.shortSidenav">
        <div class="sidenav-placeholder-short"></div>
        <div class="sidenav-short">
            <app-sidenav [short]="true"></app-sidenav>
            <mat-divider vertical></mat-divider>
        </div>
    </ng-template>
    <div class="route-content">
        <router-outlet></router-outlet>
    </div>
</div>
