<div class="container">
  <mat-card class="signup">
    <mat-card-header
      ><mat-card-title>Create new profile</mat-card-title></mat-card-header
    >
    <mat-card-content>
      <mat-stepper linear orientation="vertical">
        <ng-template [ngIf]="!authorizedButWithoutProfile">
          <mat-step [stepControl]="accountForm">
            <form class="fields-container" [formGroup]="accountForm">
              <ng-template matStepLabel>Account information</ng-template>
              <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input type="email" formControlName="email" matInput required />
                <mat-error
                  *ngIf="accountForm.get('email')!.hasError('required')"
                  >Please, fill the email field</mat-error
                >
                <mat-error
                  *ngIf="accountForm.get('email')!.hasError('minlength')"
                  >Sorry, email's length should be at least 6</mat-error
                >
                <mat-error *ngIf="accountForm.get('email')!.hasError('email')"
                  >Please, input a valid email</mat-error
                >
                <mat-error
                  *ngIf="accountForm.get('email')!.hasError('notavailable')"
                  >Sorry, this email already has been taken</mat-error
                >
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input type="password" formControlName="password" matInput />
                <mat-error
                  *ngIf="accountForm.get('password')!.hasError('required')"
                  >Please, fill the password field</mat-error
                >
                <mat-error
                  *ngIf="
                    accountForm.get('password')!.hasError('maxlength') ||
                    accountForm.get('password')!.hasError('minlength')
                  "
                  >Sorry, password's length should be between 6 and
                  40</mat-error
                >
              </mat-form-field>
              <button
                mat-raised-button
                color="primary"
                [disabled]="!accountForm.valid"
                matStepperNext
              >
                Next
              </button>
            </form>
          </mat-step>
          <mat-step>
            <form class="fields-container" [formGroup]="doojonForm">
              <ng-template matStepLabel>Choose username</ng-template>
              <mat-form-field appearance="outline">
                <mat-label>Username</mat-label>
                <input
                  type="text"
                  formControlName="username"
                  matInput
                  required
                />
                <mat-error
                  *ngIf="doojonForm.get('username')!.hasError('required')"
                  >Please, fill the username field</mat-error
                >
                <mat-error
                  *ngIf="doojonForm.get('username')!.hasError('notavailable')"
                  >Sorry, this username has been taken</mat-error
                >
                <mat-error
                  *ngIf="
                    doojonForm.get('username')!.hasError('minlength') ||
                    doojonForm.get('username')!.hasError('maxlength')
                  "
                  >Sorry, username length has to be between 3 and 18</mat-error
                >
              </mat-form-field>
              <button
                mat-raised-button
                color="primary"
                matStepperNext
                [disabled]="!canBeFinished()"
                (click)="finish()"
              >
                Finish
              </button>
            </form>
          </mat-step>
        </ng-template>
        <ng-template [ngIf]="authorizedButWithoutProfile">
          <mat-step>
            <form class="fields-container" [formGroup]="doojonForm">
              <ng-template matStepLabel>Choose username</ng-template>
              <mat-form-field appearance="outline">
                <mat-label>Username</mat-label>
                <input
                  type="text"
                  formControlName="username"
                  matInput
                  required
                />
              </mat-form-field>
              <button
                mat-raised-button
                color="primary"
                matStepperNext
                [disabled]="!canBeFinishedWithoutAccount()"
                (click)="finishWithoutAccount()"
              >
                Finish
              </button>
            </form>
          </mat-step>
        </ng-template>
      </mat-stepper>
    </mat-card-content>
    <mat-card-footer>
      <span>Already have an account? <a routerLink="/login">Login</a></span>
    </mat-card-footer>
  </mat-card>
</div>
