:host {
    display: block;
    height: 100%;
}

.container {
    display: grid;
    grid-template-columns: auto 500px auto;
    grid-template-rows: 100px auto auto;
    grid-template-areas:
        ". .      ."
        ". signup ."
        ". .      .";
}

.signup {
    grid-area: signup;
    display: flex;
    flex-flow: column nowrap;

    mat-card-footer {
        display: flex;
        padding: 0 1.34375em 1.34375em 0;
        flex-flow: row nowrap;
        justify-content: center;

        a {
            font-weight: bold;
        }
    }
}

.fields-container {
    flex: 1 1;
    display: flex;
    padding: 20px 0;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.required-fields {
    mat-form-field {
        margin-right: 1.34375em;
    }
}